@media (min-width:700px) {
    .card {
        display: flex;
        flex-direction: row;
        max-height: 800px;
	    min-width: 600px;
        max-width: 80vw;
        overflow: hidden;
        border-radius: 20px;
        .result {
            width: 50%;
            border-radius: 0;
            &__top-text {
                font-size: 24px;
            }
            &__points {
                width: 150px;
                height: 150px;
            }
          
            &__text {
                padding: 10px 40px 40px;
            }
        }
        .summary {
            width: 50%;
            padding: 30px;
            [class *= 'text'] {
                position: absolute;
                left: 20%;
            }
        }
    }
}